<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="BotApiToken" value="359375780:AAG_T9ym8COLwKz-CBWJRbPx_2_jj41Rm2o" />
    <add key="mscrm_claimBaseAthu" value="false" />
    <add key="mscrm_url" value="https://crm-web.etadbir.com/CRMTADBIRGROUP" />
    <add key="mscrm_claim_url" value="" />
    <add key="mscrm_user_name" value="support" />
    <add key="mscrm_user_pass" value="suport2218@)!!" />
    <add key="mscrm_user_domain" value="etadbir" />
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>